//Rowdies font
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

//Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

// fonts
$default_font : Montserrat;
$heading_font : Rowdies;

// colors
$default_white : #FFFFFF;
$default_black : #000000;
$Redberry_Red : #FE3B1F;
$Primary_Red : #EB3535;
$Primary_Stroke : #525557;
$Primary_BG : radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
$input_color : #525557;
$input_border_color : #454545;

//inputs
$input_width : 454px;
$input_height : 54px;
$input_font_size : 14px;
$input_line_height : 17px;


//langing
$langing_font_size : 96px;
$langing_line_height : 119px;
$langing_btn_color : #FE3B1FFF;

$start_button_font_size : 24px;
$start_button_line_height : 29px;
$start_button_bg_color : #FE3B1F;
$start_button_border_radius : 50px;

$submitted_button_font_size : 24px;
$submitted_button_line_height : 29px;

