@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.item__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: $default_black;

  .item {
    width: 1154px;

    .title{
      width: 100%;
      text-align: left;
      color: $default_white;
    }

   .item__header {
     width: 100%;
     height: 52px;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;

     background-color: $Redberry_Red;

     span, svg {
       margin: 0 25px;
     }
   }

    .item__body {
      width: 100%;
      height: 50vh;
      background-color: $default_white;
    }

  }
}